html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(1, 16, 50);
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 104, 202, 0.819);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 1vmin;
}

li {
  margin: 0 1vmin;
}

h1 {
  font-size: calc(2rem + 1vw);
  font-weight: 600;
  letter-spacing: .1em;
}

h2 {
  font-size: calc(1.5rem + 1vw);
  letter-spacing: .1em;
  margin: 2vmin;
  margin-top: 6vmin;
}

h3 {
  font-size: calc(1rem + 1vw);
  font-style: italic;
  letter-spacing: .1em;
}

/* h4 {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: 300;
  margin: 1vmin;
  padding: .2vmin 2vmin;
  color: rgba(0, 132, 255, 0.804); 
  border: 1.5px solid rgba(0, 132, 255, 0.804);
  border-radius: 10px;
  background-color: rgba(254, 255, 255, 0.146);
  transition: all .5s ease; */
/* } */

p {
  font-size: calc(.7rem + 1vw);
  letter-spacing: .07em;
  font-weight: 300;
  text-align: justify;
}

a {
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

.icon-link {
  height: 32px;
  margin-top: 1vmin;
}

.page-links > li > a {
  color: white;
  margin: 0;
  font-size: calc(1rem + .5vw);
}

.header, .about {
  height: 20%;
}

.contact {
  height: 15%;
}

.about, .projects, .contact, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 18%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
}

.header > h1, h3 {
  margin: 0 5vmin;
}

.image > img {
  height: 45vw;
  border-radius: 50%;
  margin: 1vmin 3vmin;
  border: 2px solid rgba(0, 132, 255, 0.804);
}

.about-me > h3, p {
  margin: 0 3vw;
}

.about-me > h3 {
  color: rgb(0, 132, 255);
}

.projects {
  position: relative;
  min-height: 60vw;
  width: 100%;
}

.projects > h2 {
  margin-top: 12vmin;
}

.projects::after{
  content: "";
  background-image: url(/assets/images/background2.jpg);
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.project-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 5vmin;
  background-color: rgba(1, 16, 50, 0.705);
  border-radius: 3vmin;
  border: 1.5px solid rgba(0, 132, 255, 0.804);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.446);
}

.overlay-container {
  position: relative;
}

.project-container > h3 {
  margin-top: 1vmin;
  letter-spacing: .2em;
}

.project-img {
  width: 95%;
  margin: 2.5%;
  border-radius: 2vmin;
  border: 1px solid rgba(0, 132, 255, 0.804);
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.stack {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons > img {
  height: 48;
  margin: 5px;
}

.devicon-django-plain {
  font-size: 48px;
  line-height: 60px;
}

.project-container > a {
  color: rgb(0, 132, 255);
}

.project-container > p {
  margin: 0 2vmin 0 2vmin;
  text-align: justify;
  font-size: calc(.8rem + .5vw)
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.website-icon {
  height: 38px;
  border: 2px solid rgba(94, 177, 255, 0);
  border-radius: 50%;
  margin-bottom: 1vmin;
}

form {
  justify-content: space-evenly;
  height: 450px;
  min-width: 50vw;
  margin: 0;
}

form > input, textarea {
  width: 100%;
  height: 2em;
  border: 2px solid rgba(0, 132, 255, 0.804);
  border-radius: 1vmin;
  font-family: 'Titillium Web', sans-serif;
  font-size: calc(.8rem + .5vw);
  padding: 2vmin;
  box-shadow: 4px 4px 5px 1px rgba(0, 132, 255, 0.254);
}

textarea {
  height: 10em;
  font-family: 'Titillium Web', sans-serif;
}

button, h4 {
  border-radius: 0;
  padding: 1vmin 2vmin;
  background-color: rgba(0, 132, 255, 0.798);
  border: 1.5px solid rgba(0, 132, 255, 0.804);
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: .1rem;
  cursor: pointer;
  transition: all .5s ease;
}

.icon-links {
  margin-top: auto;
}

.icon-links > a {
  margin: 0 1vmin;
}

.overlay-container:hover .project-img {
  opacity: 0.2;
}

.overlay-container:hover .stack {
  opacity: 1;
}

h4:hover, button:hover {
  color: rgb(94, 177, 255);
  border: 1.5px solid rgb(94, 177, 255);
  box-shadow: 4px 4px 5px 1px rgba(0, 132, 255, 0.254);
  background-color: rgba(254, 255, 255, 0.233);
}

.website-icon:hover {
  border: 2px solid rgb(250, 251, 251);
}

@media only screen and (max-width: 600px) {
  .topnav {
    height: 10vmin;
  }

  .topnav a {
    display: none;
  }

  .topnav a.icon, a.icon-link{
    float: right;
    display: block;
  }

  .icon-link {
    margin: 0;
    height: 28px;
  }

  .topnav-responsive, .page-links {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .social-links {
    margin: 1vmin 0 0 0;
  }

  .topnav-responsive a {
    padding: 1vmin;
  }

  .topnav-responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

}

@media only screen and (min-width: 768px) {
  .header, .about {
    height: 26%;
  }

  .contact {
    height: 18%;
  }

  .website-icon {
    height: 48px;
  }

  .icon-link {
    height: 48px;
    margin-top: 1vmin;
  }

  .page-links > li > a {
    color: white;
    margin: 0 2vmin;
    font-size: calc(1rem + .5vw);
  }

  .image > img {
    margin: 3vmin 8vmin;
    height: 25vw;
  }

  .about-me > h3, p {
    margin: 0 8vmin 3vmin 0;
  }

  .about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .project-container {
    height: 600px;
    max-width: 35%;
  }
}