body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(165, 199, 194);
  color: rgb(3, 3, 3);
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 2vmin;
}

li {
  margin: 0 1vmin;
}

.icon {
  height: 28px;
}

.header, .about, .projects, .contact {
  height: 400px
}

.about, .projects, .contact, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/assets/background.jpg);
  color: white;

}

.project-container {
  margin: 5vmin;
}